<launch>
	<node pkg="rva_basic_tools" 
        type="scan_downsampler.py" 
        name="ScanDownsampler" 
        args=""
        output="screen"
    />
	<node pkg="epd3"
        type="challenge_rviz_listener.py" 
        name="RvizListener" 
        args=""
        output="screen"
    />
	<node pkg="epd4"
        type="challenge_orca.py" 
        name="Orca" 
        args=""
        output="screen"
    />
	<node pkg="epd5"
        type="challenge_planner_node.py"
        name="Planning"
        args=""
        output="screen"
    />
</launch>